@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Prompt', sans-serif;
}
.form, .users {
  margin: 0px auto;
  width: 50%;
}

.form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.form > div {
  margin-top: 10px;
}
.form button {
  margin-top: 20px;
  width: 100px;
}

.prefix {
  top: .65rem;
  font-size: 25px;
  color: #4467ff;
}

.error {
  margin-top: 20px;
  margin-left: 120px;
  padding-right: 5px;
}

.signmargin {
  margin-top: 150px;
}

.sign-input {
  margin-left: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #4467ff;
  width: 20%;
  height: 50px;
  background-color:  #44caff00;
  font-size: 18px;
  padding-left: 20px;
}
.file{
  background-color:  #0097d300;
}

.produce-input {
  border: none;
  outline: none;
  border-bottom: 2px solid #464646;
  width: 15%;
  height: 35px;
  background-color:  #44caff00;
  font-size: 15px;
  padding-left: 10px;
}
input[type=password] {
  margin-left: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #4467ff;
  width: 20%;
  height: 50px;
  background-color:  #44caff00;
  font-size: 18px;
  padding-left: 20px;
}
input[type=submit] {
  margin-right: 10px;
}
input[type=checkbox] {
  margin-top: 80%;
}
span[type=submit] {
  font-family: 'Prompt', sans-serif;
}

/* remove autocomplete color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}